 <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
			  <h3>Shivalik  Jankalyan  Samiti</h3>
            </div>
          </div>
        </div>
      </div>
    </header>

   <!-- Main Content -->
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
	  <p>Shivalik  Jankalyan  Samiti registered under MP Society registration Act 1973 on 01/08/2011.</p>
 
	  <p>The Society is a service provider in the field of Education, Handicraft, Handloom and runs an organisation for training and placement in the name of Mishra tutorials and SM education and consultancy.</p>
 
	  <p>The society has trained more than 300 students including housewives, School and college dropouts etc. in the field of education and various vocational skill developments course.</p>

	  <p>Shivalik  Jankalyan  Samiti takes pride in working in the area of placement as well more than 250 women were trained at Shivalik  Jankalyan  Samiti for skill development and entrepreneurship.</p>
	  <p>Government sponsored udyog adhar awareness related programs were conducted by Shivalik  Jankalyan  Samiti involving industries Giants like Maral and Century.Shivalik  Jankalyan  Samiti aims at covering all those weaker sections of the society by giving them the required cutting edge through right training and right education.</p>
	  <p>Shivalik  Jankalyan  Samiti has been pivotal in working for the weavers also. The handloom fraternity of Maheshwar in Madhya Pradesh is a very good example of growth and development in the field of E-Commerce and design.Special training was imparted to the weavers for designing and colour combinations and most importantly for developing the digital competency by utilising the digital platform and marketing the handloom products online. This training has proved to be very effective and a blessing to the weavers who were helpless in selling their products in the bigger markets.</p>
       </div>
     </div>
   </div>

   <hr>